
.row-container {
  display: flex;
  gap: 10px;
  cursor: pointer;
}


/* Container styling */
.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #7fb1d2;
  font-family: Arial, sans-serif;
}

/* Welcome text */
.homepage-container h1 {
  font-size: 3rem;
  color: #05103a;
  margin-bottom: 10px;
  text-shadow: 2px 2px #6e7dff;
}

/* Description */
.homepage-container p {
  font-size: 1.2rem;
  color: #1d1c1c 2px solid;
  margin-bottom: 20px;
}

/* Team input box */
.team-input {
  width: 300px;
  padding: 12px;
  border: 2px solid #3e64ff;
  border-radius: 8px;
  font-size: 1.15rem;
  margin-bottom: 20px;
  outline: none;
  transition: box-shadow 0.3s;
}

.team-input:focus {
  box-shadow: 10px 10px 10px 5px rgba(38, 59, 161, 0.5);
}

/* Start button */
.start-button {
  padding: 12px 24px;
  background-color: #063b5c;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.start-button:hover {
  background-color: #39657e;
}


.game-guide {
  max-width: 80vw;
  text-align: left;
  background-color: #d9d7d7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  margin-top: 40px;
}

.game-guide h3 {
  color: #ee2805;
  margin-bottom: 10px;
  font-size: 25px;
}

.game-guide p {
  font-size: 1rem;
  line-height: 1.4;
  margin: 5px 0;
}

